<div class="row">
  <div id="reviewPane" class="col-xs-12">
    <div class="reply-form">
      <h2 class="section-heading">Leave a comment</h2>

      <div class="row">
        <form name="form-review" class="md-form" (ngSubmit)="addReview(reviewForm)"  #reviewForm="ngForm">
          <div class="col-md-4 col-xs-12">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input type="text" class="form-control" name="usermail" ngModel required>
              <label>Your email</label>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="md-form">
              <i class="fa  fa-user prefix"></i>
              <input type="text" class="form-control" name="username" ngModel required>
              <label>Your name</label>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="md-form">
              <i class="fa fa-phone prefix"></i>
              <input type="text" class="form-control" name="userphone" ngModel>
              <label>Your phone</label>
            </div>
          </div>

          <div class="col-md-12 col-xs-12">
            <textarea type="text" class="md-textarea" name="text" ngModel required></textarea>
            <label>Your comment</label>
          </div>

          <div class="col-sm-12 col-xs-12">
            <input type="file"
                   ngFileSelect
                   [options]="options"
                   (onUpload)="handleUpload($event)" />

            <p *ngIf="previewUrl">
              <img [src]="previewUrl" alt="Preview Data" class="preview-img">
            </p>
          </div>

          <div class="col-xs-12 text-xs-center">
            <button type="submit" class="btn btn-primary">Submit</button>

          </div>
        </form>
      </div>

      <div class="section-footer">
        <div class="options" *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
      </div>
    </div>
  </div>

  <hr [class.show-progress]="loading">

  <div class="col-sm-12" >
    <div class="comments-list">

      <div class="section-heading">
        <h2>Comments</h2>
      </div>

      <div class="row" *ngFor="let review of reviews">
        <div class="comment-id">{{review.id}}</div>
        <div class="col-sm-3 col-md-2 hidden-xs-down">
          <img src="/assets/avatar-1.png">
        </div>
        <div class="col-sm-9 col-md-10 col-xs-12">
          <a href="mailto:{{review.created_by.usermail}}"><h3 class="user-name">{{review.created_by.username}}</h3></a>

          <div class="card-data">
            <span class="comment-date"><i class="fa fa-clock-o"></i> {{review.created_at | date: 'yyyy-MM-dd'}}</span>
            <span class="comment-rate"><i class="fa fa-star-{{review.rate}}"></i></span>
          </div>
          <p class="comment-text">{{review.text}} <img class="review-img" *ngIf="review.images[0]" [src]="imageURLbase + review.images[0]" /></p>
        </div>
      </div>
    </div>
  </div>

</div>
