<div class="row">
  <div class="col-md-12 list-title">
    <h1 class="h1-responsive">Products</h1>

    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search" (keyup)="onKey($event)">
    </form>
  </div>
</div>

<hr [class.show-progress]="loading">

<div id="product-list" class="row row-eq-height">

  <div class="col-xs-12 col-md-4 col-xl-3" *ngFor="let product of products">
    <div class="card">
      <img class="card-img-top" [src]="product.img" alt="{{product.title}}">
      <div class="card-block">
        <h4 class="card-title">{{product.title | uppercase}}</h4>
        <p class="card-text">{{product.text}}</p>

        <a class="btn btn-primary" routerLink="/product/{{product.id}}">Details</a>
      </div>
    </div>
  </div>

</div>
