* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {height: 100%;}
body {min-height: 100%; display: flex; flex-direction: column;}
.content {flex: 1;}

.navbar form {float: left;}
.navbar .nav {float: right;}


@media (max-width: 544px) {
  .navbar-brand { float: none;}
}

main {
  margin-top: 5rem;
}

.card-deck .card {
  margin: 0 0 2rem;
}

.card img { max-height: none; width: 100%;}

@media (min-width: 768px) {
  .card img {max-height: 162px;}
}

@media (min-width: 992px) {
  .card img {max-height: 210px;}
}

@media (min-width: 1200px) {
  .card img {max-height: 192px;}
}

@media only screen and (max-width: 768px) {
  .read-more {
    text-align: center;
  }
}

.img-fluid {width: 100%;}

// Progress bar
.show-progress {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.show-progress:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #4386f4;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
